parameters:
    login_cidadao_badges.subscriber.class: LoginCidadao\BadgesBundle\Event\BadgesSubscriber

services:
    login_cidadao_badges.subscriber:
        class: %login_cidadao_badges.subscriber.class%
        arguments: [ "@translator", "@doctrine.orm.entity_manager" ]
        tags:
            - { name: kernel.event_subscriber }
